.continue{
    color: green;
}

.error_message{
    color: red;
}

.input_error{
    width: 150px;
    height: 20px;
    border: 1px solid red;
    outline-color: red;
    margin-right: 20px;
    border-radius: 20px;
}

.input{
    border-radius: 20px;
    width: 150px;
    height: 20px;
    margin-right: 20px;
}

.button{
    height: 30px;
    margin-right: 10px;
    border-radius: 30px;
    cursor: pointer;
}

.button:hover{
    height: 30px;
    margin-right: 10px;
    border-radius: 30px;
    cursor: pointer;
    background: white;
}

.disabled{
    height: 30px;
    margin-right: 10px;
    border-radius: 30px;
}